#countdown_timer {
    text-align: center;
    margin: auto;
    font-size: 50pt;
    font-weight: bold;
    font-family: arial, sans-serif;
    color: #10d1d7;
    text-shadow: 1px 2px 2px #111111;
    cursor: pointer;
}

#playbtn {
    background-image: url('../imgs/pause_play.svg');
    background-repeat: no-repeat;
    background-position: 0px 0px;
    background-size: cover;
    min-width: 30px;
    min-height: 30px;
    max-width: 30px;
    max-height: 30px;
}

#playbtn.pause {
    background-position: -40px 0px;
}
